@{
    PageData["title"] = "AngularJS SPA | PubSub Test";
}
<h2>PubSub Bus</h2>
<div id="output" style="height: 300px; overflow-y:auto;"></div>
<input id="btnRunTest" type="button" value="Test" data-ng-click="btnRunTest_Click()" /><input id="btnClear" type="button" value="Clear" />

<script src="/scripts/underscore.js"></script>
<script src="/scripts/pubsubbus.js?v=1"></script>
<script src="/scripts/pubsub.js?v=1"></script>
